<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/mgmemorygame/css/main.css') }}" type="text/css" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mgmemorygame/css/jquery.fancybox.css?v=2.1.5') }}" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mgmemorygame/css/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mgmemorygame/css/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mgmemorygame/css/navbar.css') }}" type="text/css" />		
		<link rel="stylesheet" href="{{ asset('bundles/mgmemorygame/css/user_edit.css') }}" type="text/css" />
	{% endblock %}
	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery-1.11.2.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery.fancybox.js?v=2.1.5') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery.fancybox-media.js?v=1.0.6') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/displayConnection.js') }}"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	{% endblock %}
</head>
<body>
<!--  Black bar informations -->
	<div id="header-logo">
		<a title="Se rendre à l'Accueil" href="{{ path('mg_memory_game_homepage') }}" ><img src="{{ asset('bundles/mgmemorygame/images/Logo.png') }}" alt="Logo" /></a>
	</div>
	<header>
	{% if app.user is not null %}
		<div id="header-content">
			Bonjour {{ app.user.username }} 
		</div>
		<div id="header-deco">
			<form action="{{ path('logout') }}" method="post">
	    		<button type="submit">Se déconnecter</button>
			</form>
		</div>
	{% else %}
		<div id="header-co">
			<a id="connectionDiv" data-fancybox-type="iframe" href="{{ path('login') }}">
				Connexion / Inscription
			</a>
		</div>
	{% endif %}
	</header>
<!--  End Black bar informations -->
<!-- Drop down menu jQuery -->
	<div id="navig">
		<nav>
        <ul class="menu">
          <li class="home current"><a href="{{ path('mg_memory_game_homepage') }}" title="Se rendre à l'Accueil"></a></li>
          <li><a><span>Jouer</span></a>
            <ul class="sub-menu">
            {% for m in modes %}
              <li><a href="{{ path('new_game', { 'modeId': m.id }) }}" title="Nouvelle partie {{ m.label }}">Nouvelle partie - {{ m.label }} -</a></li>
            {% endfor %}
            </ul>
          </li>
          <li><a><span>Mon profil</span></a>
            <ul class="sub-menu">
              <li><a href="{{ path('user_edit') }}" title="Editer mon profil">Editer mon profil</a></li>
              <li><a href="{{ path('scores_user_show') }}" title="Mes scores">Mes scores</a></li>
            </ul>
          </li>
          <li><a href="{{ path('records_all_show') }}" title="Meilleurs scores"><span>Livre des records</span></a>
            <ul class="sub-menu">
              {% for m in modes %}
              	<li><a href="{{ path('records_mode_show', { 'id': m.id }) }}" title="Mode {{ m.label }}">Mode {{ m.label }}</a></li>	
              {% endfor %}
            </ul>
          </li>
          <li><a href="#" title="Contactez-nous"><span>Contactez-nous</span></a></li>
        </ul>
      </nav>
	</div>
<!-- End Drop down menu -->
	
<!--  Flash Bag Message -->
{% for flashMessage in app.session.flashbag.get('notice') %}
	<div class="flash_notice">
		<div id="flash_content">
			{{ flashMessage }}
		</div>
	</div>
{% endfor %}	
<!--  End Flash Bag Message -->

<!-- Content which can be changed -->
	{% block content %}
	{% endblock %}	
<!-- End Content -->
<!-- Footer -->
	<footer>
		<div class="footer-links">
			<a href="#" title="A propos">A propos</a> // <a href="#" title="Nous contacter">Nous contacter</a>
		</div>
		<div class="footer-copyright">
			Copyright &copy; 2015 Société MemoryGame All rights reserved
		</div>
	</footer>
<!-- End Footer -->
</body>
</html>
