<!DOCTYPE html>
<html>
<head>
	{% block title %}    	
	{% endblock %}
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('bundles/mgmemorygame/css/main.css') }}" type="text/css" />
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mgmemorygame/css/jquery.fancybox.css?v=2.1.5') }}" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mgmemorygame/css/jquery.fancybox-thumbs.css?v=1.0.7') }}" type="text/css"/>
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/mgmemorygame/css/jquery.fancybox-buttons.css?v=1.0.5') }}" type="text/css"/>
	{% endblock %}
	{% block javascripts %}
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery-1.11.2.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery.fancybox.js?v=2.1.5') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery.fancybox-buttons.js?v=1.0.5') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery.fancybox-thumbs.js?v=1.0.7') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/jquery.fancybox-media.js?v=1.0.6') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/displayConnection.js') }}"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
	{% endblock %}
</head>
<body>
	<header>
	{% if app.user is not null %}
		Bonjour {{ app.user.username }} 
		<form method="post" action="{{ path('logout') }}">
	    	<button type="submit">Se déconnecter</button>
		</form>
	{% else %}
		<div>
			<a id="connectionDiv" data-fancybox-type="iframe" href="{{ path('login') }}">
				TEST HEADER
			</a>
		</div>
	{% endif %}
	<header>
	{%  block content %}
	{% endblock %}
	<footer>
		<div>About FOOTER</div>
	</footer>
	
</body>
</html>
