{% extends 'MGMemoryGameBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/mgmemorygame/css/my_game.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ asset('bundles/mgmemorygame/css/flipclock.css') }}" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/stopGame.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/startGame.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/flipclock.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/mgmemorygame/js/launchAjax.js') }}"></script>
{% endblock %}

{% block content %}	
		<!--  Flash Bag Message -->
		{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="flash_notice">
				<div id="flash_content">
					{{ flashMessage }}
				</div>
		    </div>
		{% endfor %}	
		<!--  End Flash Bag Message -->
		<div id="content">				
			<div id="divContent">
				<table id="tab_content" cellpadding="0" cellspacing="0">	
					<tr>
						<td id="title_tab_content">			
							{% if app.session.get('mode_choisen') is not empty %}
								{% if app.session.get('difficulty_choisen') is not empty %}
									<h1>Mode : {{ app.session.get('mode_choisen').label }} - Difficulté : {{ app.session.get('difficulty_choisen').label }}</h1>
								{% endif %}
							{% endif %}
						</td>
						<td id="behaviour_content">		
							<table id="button_panel" cellpadding="0" cellsapcing="0">		
								<tr>							
									{% if app.session.get('game_started') is not empty %}		
										<td class="myTimer">
											<div class="myTimerContent">
		  										<input type="hidden" id="myTime" value="" />	
											</div>		
											<script>
												startGame({{ app.session.get('difficulty_choisen').timer }})
											</script>
										</td>		
										<td id="divStopButton" class="hidden">
											<a class="buttonStop" name="stopLink" href="{{ path('stop_game') }}">Arrêter le Jeu</a>
										</td>		
									{% else %}
										<td id="divStartButton">
											<a class="buttonStart" name="startLink" href="{{ path('start_game') }}">Démarrer le Jeu</a>
										</td>
									{% endif %}
									</tr>
							</table>
						</td>
					</tr>
				</table>
				{% block game %}		
				{% endblock %}	
			</div>
		</div>
{% endblock %}